<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>模板</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>wujy</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wx</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx98f1d735376d922e</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ali</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>RS</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencent</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1105942482</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>qq</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ41EB61B7</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>alisdkdemo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>alisdkdemo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ZM</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ZMRS</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>com.openRoc.XingZhengFuWu</string>
		<string>mqqapi</string>
		<string>wtloginmqq2</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqzone</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqwpa</string>
		<string>mqq</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>alipayauth</string>
		<string>alipay</string>
		<string>safepay</string>
		<string>sinaweibohd</string>
		<string>sinaweibo</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>iosamap</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>App需要您的同意,才能在能访问</string>
	<key>NSAppleMusicUsageDescription - 2</key>
	<string>App需要您的同意,才能在能访问</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>App需要您的同意,才能访问蓝牙</string>
	<key>NSCalendarsUsageDescription</key>
	<string>App需要您的同意,才能访问日历</string>
	<key>NSCameraUsageDescription</key>
	<string>App需要您的同意,才能访问相机</string>
	<key>NSHealthShareUsageDescription</key>
	<string>App需要您的同意,才能访问健康分享</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>App需要您的同意,才能访问健康更新 </string>
	<key>NSLocationUsageDescription</key>
	<string>Your location may be shown on the map and is used to provide things such as directions and nearby search results</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App需要您的同意,才能在使用期间根据您的位置，给出适合您当前位置的相应服务数据,比如搜索和导航服务的数据</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App需要您的同意,才能访问麦克风</string>
	<key>NSMotionUsageDescription</key>
	<string>App需要您的同意,才能访问运动与健身</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App需要您的同意,才能访问相册</string>
	<key>NSRemindersUsageDescription</key>
	<string>App需要您的同意,才能访问提醒事项</string>
	<key>UIAppFonts</key>
	<array>
		<string>今昔豪龙.otf</string>
		<string>FZQiTi-S14S.TTF</string>
	</array>
	<key>UIApplicationExistsOnSuspend</key>
	<true/>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIViewEdgeAntialiasing</key>
	<true/>
	<key>UMengAppKey</key>
	<string>55c065a067e58eb31c002ca6</string>
</dict>
</plist>
